<div class="edit">
  <%= form_for @bookmark do |f| %>
    <h4>Edit Bookmark</h4>
    <%= f.hidden_field :topic, value: @topic %>
    <%= f.label "Bookmark Title" %> <br />
    <%= f.text_field :title, placeholder: "Enter Bookmark Title" %> <br />
    <%= f.label "Bookmark URL" %> <br />
    <%= f.text_field :url, placeholder: "Enter Bookmark URL" %> <br />
    <%= f.submit "Add Bookmark" %> <br />
  <% end %>
</div>
